<header>
    <div class="container">
        <nav class="navbar">
            <a href="homepage.html"><div class="logo">Blog<span>Space</span></div></a>
            <ul class="nav-links">
                <li><a href="blogsphere.php">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="login.php" class="login" target="_blank">Log In</a>
                <a href="signup.php" class="signup">Sign Up</a>
            </div>
        </nav>
    </div>
</header>