<header>
    <div class="container">
        <nav class="navbar">
            <a href="../../php/pages/homepage.php"><div class="logo">Blog<span>Space</span></div></a>
            <ul class="nav-links">
                <li><a href="../../php/pages/blogsphere.php">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="../../php/pages/login.php" class="login">Log In</a>
                <a href="../../php/pages/signup.php" class="signup">Sign Up</a>
            </div>
        </nav>
    </div>
</header>