<header>
    <div class="container">
        <nav class="navbar">
            <a href="../../php/pages/homepage.php" class="logo-container">
                <!-- <div class="logo5-box"></div> -->
                <div class="logo-card">
                    <div class="logo">
                        <div class="logo-icon">BS</div>
                        <div class="logo-text">BlogSpace</div>
                    </div>
                </div>
                <!-- <div class="logo">
                    Blog<span>Space</span>
                </div> -->
            </a>

            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="nav-links">
                <li><a href="../../php/pages/login.php">Log In</a></li>
                <li><a href="../../php/pages/signup.php">Sign Up</a></li>
            </ul>
            
            <div class="auth-buttons">
                <a href="../../php/pages/login.php" class="login">Log In</a>
                <a href="../../php/pages/signup.php" class="signup">Sign Up</a>
            </div>
        </nav>
    </div>
</header>